{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/app/static/css/styleTitulo.css">
        <link rel="stylesheet" href="/app/static/css/styleFormulario.css">

    </head>
    <body>
        <main>
            <section class="titulo">
                <h1>Heioooo Bitch!!!</h1>
            </section>
            
            <section class="container">
                <!-- <div class="formulario">
                    <form action="{% if db %}/update/{{db.id}}/{%else%}/create/{% endif %}">
                        {% csrf_token %}


                    </form>
                </div> -->

                {{form.as_p}}
                {{form2.as_p}}
            </section>

        </main>
        

        
    </body>
</html>